[submodule "model/library/BuildingControlEmulator"]
	path = model/library/BuildingControlEmulator
	url = https://github.com/SenHuang19/BuildingHVAC
[submodule "model/library/AFDD"]
	path = model/library/AFDD
	url = https://github.com/SenHuang19/AFDD
