{
    "class": "ChwReset",
    "control": "SupCHWTSet",
    "name": "chw_reset",
    "oat_low": 15.56,
    "oat_high": 25.0,
    "trim": 0.15,
    "respond": 0.3,
    "min_sp": 6.7,
    "max_sp": 10,
    "default_sp": 6.7,
    "request1": 2.0,
    "request2": 3.0,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "floor1": {
        "cooling_signal": "floor1_valve_flow",
        "supply_temperature_setpoint": "SupTSetBot_act",
        "supply_temperature": "floor1_TSupAir_sensor",
        "rated_clg_flow": 5.968
    },
    "floor2": {
        "cooling_signal": "floor2_valve_flow",
        "supply_temperature_setpoint": "SupTSetMid_act",
        "supply_temperature": "floor2_TSupAir_sensor",
        "rated_clg_flow": 59.105
    },
    "floor3": {
        "cooling_signal": "floor3_valve_flow",
        "supply_temperature_setpoint": "SupTSetTop_act",
        "supply_temperature": "floor3_TSupAir_sensor",
        "rated_clg_flow": 5.494
    }
}