{
    "class": "DatReset",
    "control": "floor1_ahu_dis_temp_set_u",
    "activate": "floor1_ahu_dis_temp_set_activate",
    "name": "floor1",
    "oat_low": 288.71,
    "oat_high": 294.26,
    "trim": 0.15,
    "respond": 0.3,
    "min_sp": 285.93,
    "max_sp": 291.49,
    "default_sp": 285.93,
    "request1": 1.0,
    "request2": 1.5,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "ignored_requests": 2,
    "zone1": {
        "temperature": "TZon[1]",
        "cooling_setpoint": "floor1_vav1_cooling_set",
        "heating_setpoint": "floor1_vav1_heating_set",
        "cooling_signal": "floor1_vav1_damper_pos",
        "heating_signal": "floor1_vav1_rehea_val_pos"
    },
    "zone2": {
        "temperature": "TZon[2]",
        "cooling_setpoint": "floor1_vav2_cooling_set",
        "heating_setpoint": "floor1_vav2_heating_set",
        "cooling_signal": "floor1_vav2_damper_pos",
        "heating_signal": "floor1_vav2_rehea_val_pos"
    },
    "zone3": {
        "temperature": "TZon[3]",
        "cooling_setpoint": "floor1_vav3_cooling_set",
        "heating_setpoint": "floor1_vav3_heating_set",
        "cooling_signal": "floor1_vav3_damper_pos",
        "heating_signal": "floor1_vav3_rehea_val_pos"
    },
    "zone4": {
        "temperature": "TZon[4]",
        "cooling_setpoint": "floor1_vav4_cooling_set",
        "heating_setpoint": "floor1_vav4_heating_set",
        "cooling_signal": "floor1_vav4_damper_pos",
        "heating_signal": "floor1_vav4_rehea_val_pos"
    },
    "zone5": {
        "temperature": "TZon[5]",
        "cooling_setpoint": "floor1_vav5_cooling_set",
        "heating_setpoint": "floor1_vav5_heating_set",
        "cooling_signal": "floor1_vav5_damper_pos",
        "heating_signal": "floor1_vav5_rehea_val_pos"
    }
}