{
    "class": "StaticPressureReset",
    "control": "floor2_ahu_dis_pre_set_u",
    "activate": "floor2_ahu_dis_pre_set_activate",
    "name": "floor2",
    "trim": 25.0,
    "respond": 50.0,
    "min_sp": 200,
    "max_sp": 500,
    "default_sp": 400,
    "request1": 0.7,
    "request2": 0.5,
    "dmpr_request_thr": 0.95,
    "zone1": {
        "airflow": "floor2_vav1_dis_mflow",
        "airflow_setpoint": "floor2_vav1_flow_set",
        "damper_command": "floor2_vav1_damper_pos"
    },
    "zone2": {
        "airflow": "floor2_vav2_dis_mflow",
        "airflow_setpoint": "floor2_vav2_dis_mflow",
        "damper_command": "floor2_vav2_damper_pos"
    },
    "zone3": {
        "airflow": "floor2_vav3_dis_mflow",
        "airflow_setpoint": "floor2_vav3_flow_set",
        "damper_command": "floor2_vav3_damper_pos"
    },
    "zone4": {
        "airflow": "floor2_vav4_dis_mflow",
        "airflow_setpoint": "floor2_vav4_flow_set",
        "damper_command": "floor2_vav4_damper_pos"
    },
    "zone5": {
        "airflow": "floor2_vav5_dis_mflow",
        "airflow_setpoint": "floor2_vav5_flow_set",
        "damper_command": "floor2_vav5_damper_pos"
    }
}